@import "../../../../styles/_variables.scss";

.Fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: $GUTTER;

  .Label {
    margin-bottom: $GUTTER / 2;
    position: relative;
    left: $GUTTER;
  }

  &--isErrored {
    margin-bottom: $GUTTER;
  }
}
