@import "../../../../styles/_variables.scss";
@import "../../../../styles/_typography.scss";

.PasswordField {
  position: relative;

  &__Input {
    @include default-body-text;

    background: transparent;
    box-sizing: border-box;
    position: relative;
    border: 2px solid $GREY6;
    border-radius: $BORDER_RADIUS;
    padding: $GUTTER;
    padding-right: 40px;
    width: 100%;
    color: $GREY4;
    transition: all 0.3s;

    &--isErrored {
      color: $DANGER;
      border-color: $DANGER;
    }

    &:focus {
      border: 2px solid $PRIMARY1;
      color: $GREY1;
      outline: none;
    }
  }

  &__Icon {
    position: absolute;
    top: 34px;
    right: 25px;
  }
}
