@import "../../../../styles/_variables.scss";

.CheckboxField {
  display: flex;
  align-items: center;

  &__Input {
    margin-right: $GUTTER;
  }

  &--isErrored {
    * {
      color: $DANGER;
    }
  }
}
