@import "../../../../styles/_typography.scss";
@import "../../../../styles/_variables.scss";

.SingleLineField {
  &__Input {
    @include default-body-text;

    background: transparent;
    box-sizing: border-box;
    position: relative;
    border: 2px solid $GREY6;
    border-radius: $BORDER_RADIUS;
    padding: $GUTTER;
    width: 100%;
    color: $GREY4;
    transition: all 0.3s;

    &--isErrored {
      color: $DANGER;
      border-color: $DANGER;
    }

    &:focus {
      border: 2px solid $PRIMARY1;
      color: $GREY1;
      outline: none;
    }
  }
}
